<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <%- include('nav.html') %>


        <h4 class="ms-3 my-3 text-center">채팅</h4>


        <div class="container p-4 detail">

            <div class="row">
                <div class="col-3">
                    <ul class="list-group chat-list">
                        <% for(let i=0; i < data.length; i++) { %>
                        <li class="list-group-item" data-id="<%= data[i]._id %>">
                            <h6><%= data[i].title %></h6>
                            <h6 class="text-small"><%= data[i].member[i] %></h6>
                        </li>
                        <% } %>
                    </ul>
                </div>

                <div class="col-9 p-0">
                    <div class="chat-room">
                        <ul class="list-group chat-content">
                            <li><span class="chat-box">채팅방1 내용</span></li>
                            <li><span class="chat-box">채팅방1 내용</span></li>
                            <li><span class="chat-box mine">채팅방1 내용</span></li>
                        </ul>
                        <div class="input-group">
                            <input class="form-control" id="chat-input">
                            <button class="btn btn-secondary" id="send">전송</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <script>
            $('.list-group-item').click(function() {
                const clickChatId = this.dataset.id; // 채팅방 누르면 ID

                const eventSource = new EventSource('/message/' + clickChatId); // 실시간 데이터 받기위한 특별한 GET 요청

                if(eventSource != undefined) {
                    eventSource.close();
                }
                eventSource.addEventListener('test', function(e) { // 유저 데이터 수신
                    const dbMsg = JSON.parse(e.data);
                    dbMsg.forEach((i) => {
                        $('.chat-content').append('<li><span class="chat-box">' + i.content + '</span></li>')
                    })
                })

                $('#send').click(() => { // 전송버튼 누르면 msgData 서버로 전송
                let chatMsg = $('#chat-input').val();
                let msgData = {
                    parent: clickChatId,
                    content: chatMsg
                }
                $.post('message', msgData).then(() => {
                    console.log('메세지 전송 성공');
                })
            })
            })

        </script>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>

<style>
    .chat-content {
        height: 450px;
        overflow-y: scroll;
        padding: 10px;
    }

    .chat-content li {
        margin-top: 10px;
        list-style: none;
    }

    .text-small {
        font-size: 12px;
        color: gray;
        margin-bottom: 0;
    }

    .chat-box {
        background: #eee;
        padding: 5px;
        border-radius: 5px;
        float: left;
    }

    .mine {
        float: right;
    }
</style>